{% extends 'base.html' %}

{% block body %}

<form method="post">
  <table>
    <tr>
      <td>Loan amount: </td> <td> <input type="text" name="numOne" /> </td>
      </tr>
      <tr>
        <td>Number of payments per year: </td> <td> <input type="text" name="numTwo" /> </td>
</tr>
<tr>
  <td>Number of years: </td> <td> <input type="text" name="numThree" /> </td>
</tr>
<tr>
  <td>Annual rate: </td> <td> <input type="text" name="numFour" /> </td>
  </tr>
  <tr>
    <td>Number of payment period: </td> <td> <input type="text" name="numFive" /> </td>
    </tr>
</table>
<br>
<input class="button" type="submit" formaction="/divide" formaction="/add" formaction="/multiply" formaction = "/subtract" value="Calculate!" />
</form>

<p> {{display }} </p>
<div style="clear:both;"></div>

{% endblock %}
